* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1250px;
    margin: 0 auto;
}

.header {
    display: flex;
    padding: 20px;
    height: 100px;
    background-color: orange;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    text-transform: uppercase;
    color: white;
}


.button-add {
    margin-top: 50px;
    text-align: center;
}

.add {
    text-transform: uppercase;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid orange;
}

.modal {
    border: 1px solid orange;
    height: 400px;
    width: 300px;
    position: fixed;
    left: 46%;
    top: 35%;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    transition: opacity 200ms ease-in;
    visibility: hidden;
}

.close {
    display: flex;
    justify-content: end;
    margin-right: 6px;
    margin-top: 3px;
    visibility: hidden;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    visibility: hidden;
}

.info>input {
    display: block;
    width: 200px;
    height: 25px;
    margin-bottom: 20px;
}

.info>button {
    width: 154px;
    padding: 10px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    background-color: orange;
    font-size: 13px;
    font-weight: 800;
    color: white
}

.books {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.book-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    font-size: 18px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    border-right: 5px solid orange;
}

.book-title,
.book-author,
.book-count {
}
